.why-we-different-tabset {
    &.tabset {
        input[type="radio"] {
            display: none;
        }
        .tab-panel {
            display: none;
        }
        input {
            &:first-child:checked ~ .tab-panels {
                .tab-panel {
                    &:first-child {
                        display: block;
                    }
                }
            }
            &:nth-child(3):checked ~ .tab-panels {
                .tab-panel {
                    &:nth-child(2) {
                        display: block;
                    }
                }
            }
            &:nth-child(5):checked ~ .tab-panels {
                .tab-panel {
                    &:nth-child(3) {
                        display: block;
                    }
                }
            }
            &:nth-child(7):checked ~ .tab-panels {
                .tab-panel {
                    &:nth-child(4) {
                        display: block;
                    }
                }
            }
            &:nth-child(9):checked ~ .tab-panels {
                .tab-panel {
                    &:nth-child(5) {
                        display: block;
                    }
                }
            }
            &:nth-child(11):checked ~ .tab-panels {
                .tab-panel {
                    &:nth-child(6) {
                        display: block;
                    }
                }
            }
        }
        label {
            transition: var(--transition);
            border: 1px solid #dddddd;
            background: transparent;
            display: inline-block;
            position: relative;
            border-radius: 5px;
            padding: 15px 32px;
            cursor: pointer;
            font: {
                size: 18px;
                weight: 500;
            };
            margin: {
                right: 10px;
                bottom: 0;
            };
        }
        input:checked + label {
            border-color: var(--mainColor);
            background: var(--mainColor);
            color: var(--whiteColor);
        }
    }
    .tab-panel {
        margin-top: 35px;
    }
}
.why-we-different-content {
    padding-left: 10px;
    
    h3 {
        margin-bottom: 15px;
        font: {
            size: 25px;
            weight: 500;
        };
    }
    ul {
        margin: {
            top: 20px;
            bottom: 0;
        };
        li {
            margin-bottom: 10px;
            font-weight: 300;
            color: #727695;

            &:last-child {
                margin-bottom: 0;
            }
            i {
                color: var(--mainColor);
                margin-right: 5px;
            }
        }
    }
}
.why-we-different-img {
    text-align: center;
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .why-we-different {
        .section-title {
            h2 {
                display: inline-block;
                line-height: 1.3;
                margin-top: -5px;
            }
        }
    }
    .why-we-different-tabset {
        &.tabset {
            label {
                padding: 14px 20px;
                border-radius: 5px;
                text-align: center;
                font-size: 16px;
                display: block;
                margin: {
                    right: 0;
                    bottom: 10px;
                };
            }
        }
    }
    .why-we-different-img {
        margin-top: 0;
    }
    .why-we-different-content {
        padding-left: 0;
        margin-top: 30px;

        h3 {
            font-size: 18px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .why-we-different-tabset {
        &.tabset {
            label {
                display: inline-block;
                margin-right: 10px;
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .why-we-different-tabset {
        &.tabset {
            label {
                padding: 12px 15px;
                margin-right: 10px;
                font-size: 15px;
            }
        }
    }
    .why-we-different-img {
		margin-bottom: 30px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}