<div class="demo-modal-panel">
    <button class="sidebar-demo-control" (click)="toggleClass()">
        <span>Demos</span>
    </button>
</div>

<div
    class="sidebar-demo-modal"
    [class.active]="classApplied"
>
    <div class="inner">
        <ul>
            <li>
                <div class="single-demo">
                    <img src="images/demo-img/home1.jpg" alt="image">
                    <span>Main Demo</span>
                    <a routerLink="/" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo">
                    <img src="images/demo-img/home2.jpg" alt="image">
                    <span>Slider Demo</span>
                    <a routerLink="/home-two" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo">
                    <img src="images/demo-img/home3.jpg" alt="image">
                    <span>Video Demo</span>
                    <a routerLink="/home-three" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo">
                    <img src="images/demo-img/home4.jpg" alt="image">
                    <span>Wave Home</span>
                    <a routerLink="/home-four" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo">
                    <img src="images/demo-img/home5.jpg" alt="image">
                    <span>Creative Demo 1</span>
                    <a routerLink="/home-five" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo">
                    <img src="images/demo-img/home6.jpg" alt="image">
                    <span>Creative Demo 2</span>
                    <a routerLink="/home-six" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo">
                    <img src="images/demo-img/home7.jpg" alt="image">
                    <span>Creative Demo 3</span>
                    <a routerLink="/home-seven" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo">
                    <img src="images/demo-img/home8.jpg" alt="image">
                    <span>Animation Text Demo</span>
                    <a routerLink="/home-eight" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo">
                    <img src="images/demo-img/home9.jpg" alt="image">
                    <span>Particles Demo</span>
                    <a routerLink="/home-nine" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo">
                    <img src="images/demo-img/home10.jpg" alt="image">
                    <span>Creative Demo 4</span>
                    <a routerLink="/home-ten" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo">
                    <img src="images/demo-img/home11.jpg" alt="image">
                    <span>White BG Demo</span>
                    <a routerLink="/home-eleven" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo">
                    <img src="images/demo-img/home12.jpg" alt="image">
                    <span>Gradient Demo</span>
                    <a routerLink="/home-twelve" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo">
                    <img src="images/demo-img/home13.jpg" alt="image">
                    <span>Cloud Demo</span>
                    <a routerLink="/home-thirteen" class="link-btn"></a>
                </div>
            </li>
            <li>
                <div class="single-demo">
                    <img src="images/demo-img/blog-details.jpg" alt="image">
                    <span>Blog Details</span>
                    <a routerLink="/blog-details" class="link-btn"></a>
                </div>
            </li>
        </ul>
    </div>
    <div class="header-title">
        <button class="example-demo-modal-control" (click)="toggleClass()">
            <i class="fas fa-times"></i>
        </button>
        <div class="title">View Demo</div>
    </div>
</div>