<div class="elements-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <h2><span>Transportation</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </div>
        <div class="row justify-content-center">
            <div *ngFor="let element of transportation" class="col-lg-4 col-md-6">
                <div class="single-element">
                    <div class="element-img">
                        <img [src]="element.imageUrl" alt="element-img" height="240px">
                    </div>
                    <div class="element-content">
                        <h3>{{element.name}}</h3>
                        <p>{{element.description}}
                            <app-star-rating [rating]="element.rating"></app-star-rating>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>