<div class="home-slides">
    <owl-carousel-o [options]="homeSlides">
        <ng-template carouselSlide>
            <div
                class="main-banner"
                style="background-image: url(images/main-bg-2.jpg);"
            >
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-text">
                                <h4>We Are Creative</h4>
                                <h1>Nice To <span>Meet</span> You</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#about" class="btn btn-primary">Get Started</a>
                                <a (click)="onClick('work')" class="btn btn-primary view-work">View Work</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div
                class="main-banner"
                style="background-image: url(images/main-bg-1.jpg);"
            >
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-text">
                                <h4>We Are Professional</h4>
                                <h1>Best <span>Digital</span> Experience</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#about" class="btn btn-primary">Get Started</a>
                                <a (click)="onClick('work')" class="btn btn-primary view-work">View Work</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div
                class="main-banner"
                style="background-image: url(images/main-bg-3.jpg);"
            >
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-text">
                                <h4>We Are Designer</h4>
                                <h1>Creativity is  <span>Intelligence</span></h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#about" class="btn btn-primary">Get Started</a>
                                <a (click)="onClick('work')" class="btn btn-primary view-work">View Work</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>