.faq-image {
	width: 100%;
    height: 100%;
    background: {
        size: cover;
        repeat: no-repeat;
        position: center center;
    };
    img {
        display: none;
    }
}
.faq-accordion {
    .accordion {
        .accordion-section {
            border-radius: 5px;
            margin-bottom: 15px;
            background-color: var(--whiteColor);
            box-shadow: 2px 8px 20px 0 rgba(25, 42, 70, 0.13);
            
            .accordion-header {
                display: block;
                cursor: pointer;
                position: relative;
                color: var(--blackColor);
                padding: 20px 40px 20px 20px;
                background: var(--whiteColor);
                transition: var(--transition);
                font: {
                    size: 16px;
                    weight: 500;
                };
                &:hover, &.open {
                    color: var(--whiteColor);
                    background: var(--mainColor);
                }
                &::before {
                    top: 50%;
                    right: 20px;
                    font-size: 16px;
                    content: "\f078";
                    position: absolute;
                    transform: translateY(-50%);
                    font: {
                        family: Font Awesome\ 5 Free;
                        weight: 900;
                    };
                }
            }
            .accordion-content {
                display: none;
                padding: 20px;

                &.open {
                    display: block;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .faq-area {
        .section-title {
            h2 {
                display: inline-block;
                line-height: 1.3;
                margin-top: -5px;
            }
        }
    }
    .faq-image {
        width: auto;
        height: auto;
        margin-top: 30px;
        background-image: unset !important;

        img {
            display: inline-block;
        }
    }
    .faq-accordion {
        .accordion {
            .accordion-section {
                .accordion-header {
                    padding: 15px 30px 15px 15px;
                    font-size: 15px;

                    &::before {
                        right: 12px;
                        font-size: 13px;
                    }
                }
                .accordion-content {
                    padding: 15px;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .faq-image {
        width: auto;
        height: auto;
        margin-top: 30px;
        text-align: center;
        background-image: unset !important;

        img {
            display: inline-block;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}