.strategy-area {
    position: relative;
    z-index: 1;

    .container-fluid {
        padding: {
            left: 0;
            right: 0;
        };
        .row {
            margin: {
                left: 0;
                right: 0;
            };
            .col-lg-6 {
                padding: {
                    left: 0;
                    right: 0;
                };
            }
        }
    }
}
.strategy-image {
    width: 100%;
    height: 100%;
    background: {
        size: cover;
        repeat: no-repeat;
        position: center center;
    };
    img {
        display: none;
    }
}
.strategy-content {
    padding-left: 35px;
    
    .section-title {
        margin-bottom: 20px;
        padding-left: 0;

        &::before, &::after {
            display: none;
        }
        p {
            font-size: 15.5px;
        }
    }
    .features-list {
        margin-bottom: 20px;

        li {
            margin-bottom: 10px;
            color: #727695;
            font: {
                size: 15.5px;
            };
            i {
                color: var(--mainColor);
                margin-right: 7px;
            }
        }
    }
    p {
        max-width: 635px;
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .strategy-area {
        padding-top: 60px;

        .container-fluid {
            padding: {
                left: calc(var(--bs-gutter-x) * 0.5);
                right: calc(var(--bs-gutter-x) * 0.5);
            };
        }
    }
    .strategy-image {
        width: auto;
        height: auto;
        background-image: unset !important;

        img {
            display: inline-block;
        }
    }
    .strategy-content {
        padding: {
            left: 0;
            bottom: 0;
        };
        .section-title {
            h2 {
                margin-bottom: 17px;
            }
            p {
                font-size: 14px;
            }
        }
        .features-list {
            margin-bottom: 20px;

            li {
                font-size: 14px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .strategy-area {
        .container-fluid {
            max-width: 540px;
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .strategy-area {
        padding-top: 80px;

        .container-fluid {
            max-width: 720px;
            padding: {
                left: calc(var(--bs-gutter-x) * 0.5);
                right: calc(var(--bs-gutter-x) * 0.5);
            };
        }
    }
    .strategy-image {
        width: auto;
        height: auto;
        background-image: unset !important;

        img {
            display: inline-block;
        }
    }
    .strategy-content {
        padding: {
            left: 0;
            bottom: 0;
        };
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .strategy-area {
        .container-fluid {
            max-width: 1920px;
        }
    }

}