.main-banner {
	height: 850px;
    overflow: hidden;
	position: relative;
    background: {
        position: center center;
        repeat: no-repeat;
        size: cover;
    };
    &::before {
        top: 0;
        left: 0;
        width: 100%;
        content: '';
        height: 100%;
        opacity: .58;
        position: absolute;
        background: var(--blackColor);
    }
    .creative-banner-two {
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    
        &::before {
            position: absolute;
            content: "";
            height: 0;
            bottom: 0;
            right: 0;
            width: 0;
            border: {
                right: 50vw solid var(--whiteColor);
                top: 160px solid transparent;
            };
        }
        &::after {
            position: absolute;
            content: '';
            bottom: 0;
            height: 0;
            width: 0;
            left: 0;
            border: {
                left: 50vw solid var(--whiteColor);
                top: 160px solid transparent;
            };
        }
    }
}
.main-banner-text {
    position: relative;
    text-align: center;
    z-index: 1;

    h4 {
        color: var(--whiteColor);
        font: {
            weight: 400;
            size: 20px;
        };
    }
    h1 {
        color: var(--whiteColor);
        margin: {
            top: 30px;
            bottom: 30px;
        };
        font: {
            weight: 400;
            size: 55px;
        };
        span {
            color: #ff2c57;
            font-weight: 600;
        }
    }
    p {
        color: var(--whiteColor);
        font-size: 15.5px;
        max-width: 650px;
        margin: {
            left: auto;
            right: auto;
            bottom: 30px;
        };
    }
    .btn {
        margin: {
            left: 7px;
            right: 7px;
        };
        &:hover, &:focus {
            border-color: var(--whiteColor);
        }
    }
    .view-work {
        background: transparent;
        border-color: var(--whiteColor);

        &:hover, &:focus {
            border-color: var(--mainColor);
            background: var(--mainColor);
            color: var(--whiteColor);
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .main-banner {
        height: auto;
        padding: {
            top: 175px;
            bottom: 120px;
        };
        .creative-banner-two {
            &::after {
                border-top-width: 20px;
            }
            &::before {
                border-top-width: 20px;
            }
        }
    }
    .main-banner-text {
        h4 {
            font-size: 15px;
        }
        h1 {
            font-size: 30px;
            line-height: 40px;
            margin: {
                top: 15px;
                bottom: 15px;
            };
        }
        p {
            font-size: 14px;
            max-width: 100%;
        }
        .btn {
            margin: {
                left: 4px;
                right: 4px;
            };
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .main-banner {
        height: auto;
        padding: {
            top: 175px;
            bottom: 120px;
        };
        .creative-banner-two {
            &::after {
                border-top-width: 60px;
            }
            &::before {
                border-top-width: 60px;
            }
        }
    }
    .main-banner-text {
        h4 {
            font-size: 17px;
        }
        h1 {
            font-size: 40px;
            margin: {
                bottom: 20px;
                top: 25px;
            };
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .main-banner-text {
        margin-top: 30px;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .main-banner {
        height: 100vh;
    }

}