<footer class="footer-area">
    <div class="container">
        <h3><a routerLink="/">TANITI</a></h3>
        <ul>
            <li><a href="#" target="_blank"><fa-icon [icon]="fabFacebookF"></fa-icon></a></li>
            <li><a href="#" target="_blank"><fa-icon [icon]="fabTwitter"></fa-icon></a></li>
            <li><a href="#" target="_blank"><fa-icon [icon]="fabLinkedinIn"></fa-icon></a></li>
            <li><a href="#" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
            <li><a href="#" target="_blank"><fa-icon [icon]="faSkype"></fa-icon></a></li>
        </ul>
    </div>
</footer>

<app-back-to-top />