<footer class="footer-area">
    <div class="container">
        <h3><a routerLink="/">TANITI</a></h3>
        <ul>
            <li><a href="#" target="_blank"><fa-icon [icon]="fabFacebookF"></fa-icon></a></li>
            <li><a href="#" target="_blank"><fa-icon [icon]="fabTwitter"></fa-icon></a></li>
            <li><a href="#" target="_blank"><fa-icon [icon]="fabLinkedinIn"></fa-icon></a></li>
            <li><a href="#" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
            <li><a href="#" target="_blank"><fa-icon [icon]="faSkype"></fa-icon></a></li>
        </ul>
    </div>
    <h6 class="mt-2" style="color: #fff;">All photos have been licensed from <a href="https://stock.adobe.com"
            style="color: #fff; text-decoration: underline;">Adobe Stock</a>. They retain their unique
        photo ID in their file name.</h6>
</footer>

<app-back-to-top />